@page "/servers"

@rendermode InteractiveServer

@inject NavigationManager NavigationManager
@* @rendermode InteractiveServer *@

<h3>Servers</h3>


<br />
<CityListComponent></CityListComponent>

@* @selectedCity *@
@* @foreach (var city in cities)
{
	<button type="button" class="btn btn-primary">@city</button>
	<text>&nbsp;</text>
} *@
<text>&nbsp;</text>
@* <ServerComponent @rendermode="InteractiveServer"></ServerComponent> *@

<br />

@* <ServerComponent></ServerComponent> *@


<br />

<div class="input-group mb-3">
	<input type="text" class="form-control"
	placeholder="Search Servers"
	@bind-value="serverFilter" 
	@bind-value:event="oninput"/>
	@* <input type="text" class="form-control" placeholder="Search Servers" @onchange="HandleServerFilterChange"/> *@
	<button class="btn btn-outline-secondary" type="button" id="button-search" @onclick="HandleSearch">Search</button>
</div>

@* @serverFilter
 *@
<br />
<ServerListComponent @rendermode="InteractiveServer"
					 CityName="Toronto">
	@* CityName="@this.selectedCity"> *@
</ServerListComponent>


<p>
	<a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

<p>

</p>
@code {
	

	//private List<String> cities = CitiesRepository.GetCities();

	//private string selectedCity = "Toronto";

	private string serverFilter = "";

	

	// private void SelectCity(string cityName)
	// {
	// 	this.selectedCity = cityName;

	// 	//this.servers = ServersRepository.GetServersByCity(this.selectedCity);

	// 	if(cityName == "Halifax")
	// 	{
	// 		for (int i = 16;i < 40;i++)
	// 		{
	// 			//servers.Add(new Server { ServerId = i, Name = $"Server{i}", City="Halifax"});
	// 		}
	// 	}
	// }

	private void HandleServerFilterChange(ChangeEventArgs args)
	{
		serverFilter = args.Value?.ToString() ?? string.Empty;
	}

	private void HandleSearch()
	{
		//this.servers = ServersRepository.SearchServers(serverFilter);

		//this.selectedCity = string.Empty;
	}
}
